
volumes:

  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      devices: /home/jhualves/data/mariadb
      o: bind
      type: none

  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: /home/jhualves/data/wordpress
      o: bind
      type: none

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    networks:
      - Inception
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    ports:
      - "443:443"
    restart: on-failure

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    networks:
      - Inception
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - mariadb
    env_file:
      - .env
    expose:
      - "9000"
    restart: on-failure

  mariadb:
    container_name: mariadb
    build: ./srcs/requirements/mariadb
    networks:
      - Inception
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    expose:
      - "3306"
    restart: on-failure

networks:
    Inception:
      name: inception
      driver: bridge
